version: "3.9"
services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks: [app-net]
  api:
    build: ./backend
    env_file: .env
    depends_on: [db]
    ports: ["4000:4000"]
    networks: [app-net]
  frontend:
    build: ./frontend
    depends_on: [api]
    ports: ["3000:80"]
    networks: [app-net]
networks:
  app-net:
volumes:
  db_data: