services:
  api:
    build: ./backend
    container_name: pickup-api
    ports:
      - "4000:4000"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - DATABASE_URL=${DATABASE_URL}
    depends_on:
      - db
    networks:
      - app-net

  frontend:
    build: ./frontend
    container_name: pickup-frontend
    ports:
      - "3000:3000"
    networks:
      - app-net

  db:
    image: postgres:15
    container_name: pickup-db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - app-net

networks:
  app-net:

volumes:
  db_data:
